<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pierre's Treats</title>
    @* Install Material Lite *@
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-deep_orange.min.css" /> 
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Sacramento&display=swap" rel="stylesheet">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
  <div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Pierre's Treats</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Home</a>
          <a class="mdl-navigation__link" href="/Flavors">Flavors</a>
          <a class="mdl-navigation__link" href="/Treats">Treats</a>
          @if (User.Identity.IsAuthenticated)
          {
            @using (Html.BeginForm("LogOff", "Account"))
            {
              <input type="submit" value="Log out" />
            }
          }
          else
          {
            <a class="mdl-navigation__link" href="/Account/Login">Sign In</a>
          }
          
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title drawer-title">Pierre's Treats</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/Flavors">Flavors</a>
        <a class="mdl-navigation__link" href="/Treats">Treats</a>
      </nav>
    </div>
    <main class="mdl-layout__content wrapper">
      <div class="section">
        @RenderBody()
       </div>
    </main>
    @Html.Partial("Footer")
  </div>
  </body>
</html>