
<footer id="footer" class="mdl-mega-footer">

  <div class="mdl-mini-footer__bottom-section">
    <div class="mdl-logo">Pierre's Treats</div>
    <div class="mdl-logo">&copy; K. Wicz 2020</div>
    <div class="mdl-logo">Photo by Artur Rutkowski on Unsplash</div>
  </div>

</footer>