.demo-layout-transparent {
  background: url('../assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: whitesmoke;
}

body {
  background-image: url(https://images.unsplash.com/photo-1555507036-ab1f4038808a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=926&q=80);
  background-size: cover;
  font-family: Montserrat;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

main.mdl-layout__content {
  text-align: center;
}

h1, .mdl-layout-title {
  font-family: Sacramento;
  font-weight: 600px;
  color: antiquewhite;
}

.drawer-title {
  background-color: darkorange;
}

.section {
  display: inline-block;
}

.mdl-card__title-text {
  font-family: Sacramento;
  text-align: center;
}

.mdl-card {
  background-color: antiquewhite;
}